{
  "LangChainAPI": {
    "GOOGLE_CLOUD_PROJECT": "project-9881b278-0a45-47c1-9ed",
    "VERTEX_AI_LOCATION": "us-central1",
    "LANGCHAIN_API_KEY": "",
    "LANGCHAIN_TRACING_V2": "false",
    "LANGCHAIN_PROJECT": "adiyogi-poc"
  }
}
